#red{
    color: red;
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
.color-title{
    font-weight: normal;
}
img{
   height: 200px; 
   width: 200px;
}
*{
   text-align: center;
}
*{
    background-color: #413f44;
}
h1{
    color: antiquewhite;
}
h2{
    color: antiquewhite;
}